In [40]:
#Importing DF, saving it as global, and returning shape
def imp_and_shape(path):
    import pandas as pd
    import numpy as np
    global df
    df = pd.read_csv(path)
    return 'Shape of dataframe is (rows, columns):', np.shape(df)

#Standardisation of column names
def col_names_std(df):
    import pandas as pd
    import numpy as np
    df.columns = [df.columns[i].lower().replace(' ','_') for i in range(len(df.columns))]
    return df

#Drop columns from a DF using a list of columns
def col_drop(df, col):
    import pandas as pd
    import numpy as np
    df=df.drop(col, axis=1)
    return df

#Fill null values in a column from a DF (inplace) with a desired value
def fill_val(df, col, val):
    import pandas as pd
    import numpy as np
    df[col].fillna(val, inplace=True)
    return df

#Fill in an empty column with the average value, rounded to int, and transform everything to int
def fill_mean(df, col):
    import pandas as pd
    import numpy as np
    df[col]=df[col].fillna(int(df[col].dropna().mean())).astype('int64')
    return df
    
#Create a new column with "months", using a datetime object
def get_month(df, col):
    import pandas as pd
    import numpy as np
    import datetime
    from datetime import date
    df[col] = pd.to_datetime(df[col], errors='coerce')
    df['months']=pd.DatetimeIndex(df[col]).month
    return df

In [41]:
path='files_for_lab/csv_files/marketing_customer_analysis.csv'
cols_to_drop=['unnamed:_0','vehicle_type']
col='vehicle_size'
val='n/a'
col_2='months_since_last_claim'
col_3='effective_to_date'

In [42]:
imp_and_shape(path)
col_names_std(df)
df=col_drop(df,cols_to_drop)
fill_val(df, col, val)
fill_mean(df, col_2)
get_month(df, col_3)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,months
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,2
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,1